:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  --skobeloff: #096b72;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}
.errorMsg {
  padding: 2em;
  font-size: calc(12px + 0.5vw);
}

.signupForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--platinum);
  width: calc(100% - 2em);
  height: fit-content;
  padding: 1em;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
}
.heading {
  font-size: calc(2em + 0.5vw);
  color: var(--richBlack);
}

.loginLabel {
  margin-right: 0.5em;
  font-size: calc(1.3em + 0.5vw);
  color: var(--richBlack);
}

.loginInput {
  line-height: 1.5;
  font-size: calc(1em + 0.5vw);
  background-color: var(--platinum);
  border: 2px solid var(--richBlack);
  width: 95%;
}

.emailContainer,
.passwordContainer {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 2em);
  margin: 0.5em 0;
}

.buttonContainer {
  margin: 1em 1em 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: calc(1.3em + 0.5vw);
  display: flex;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem 2em 1em;
  background: mistyrose;
  color: black;
  cursor: pointer;
  text-align: center;
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
  text-decoration: none;
  list-style: none;
}

.button.login {
  background: var(--mountbattenPink);
  color: var(--platinum);
  border: 3px solid var(--mountbattenPink);
  margin: 0.9em;
  font-weight: bold;
}

.button.cancel {
  background: var(--platinum);
  color: var(--mountbattenPink);
  border: 3px solid var(--mountbattenPink);
  margin: 0.9em;
  font-weight: bold;
}

.button.signup {
  background: var(--platinum);
  font-size: calc(1.1em + 0.5vw);
  color: var(--richBlack);
  border: 3px solid var(--skobeloff);
  font-weight: bold;
  margin: 1em;
}

.buttonBreak {
  flex-basis: 100%;
  height: 0;
}

@media only screen and (min-width: 481px) {
  .signupForm {
    margin: 2em;
    padding: 2em 2em;
    width: calc(100% - 8em);
  }

  .loginLabel {
    align-self: flex-start;
  }

  .loginInput {
    width: calc(100% + 0.5vw);
  }

  .emailContainer,
  .passwordContainer {
    margin: 0.5em 0;
    align-items: center;
    min-width: 330px;
    width: 80%;
  }
  .buttonContainer {
    min-width: 330px;
  }

  .button {
    font-size: calc(1em + 0.5vw);
  }

  .button.login {
    margin-right: 3em;
  }

  .button.cancel {
    margin-left: 1.5em;
  }

  .button.signup {
    font-size: calc(1em + 0.5vw);
  }
}
