:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

.signupForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--platinum);
  margin: 2em;
  padding: 2em 2em;
}

.header h1 {
  font-size: calc(2em + 0.5vw);
  color: var(--richBlack);
}

.signupLabel {
  margin-right: 0.5em;
  font-size: calc(1em + 0.5vw);
  color: var(--richBlack);
}

.signupInput {
  line-height: 1.5;
  font-size: calc(1em + 0.5vw);
  background-color: var(--platinum);
  border: 2px solid var(--richBlack);
  width: calc(400px + 0.5vw);
}

.usernameContainer,
.emailContainer,
.passwordContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em 0;
}

.buttonContainer {
  margin: 1em 1em 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  font-size: calc(1em + 0.5vw);
  display: flex;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem 2em;
  background: mistyrose;
  color: var(--richBlack);
  /* font-family: "Nunito", sans-serif; */
  /* font-weight: bold; */
  cursor: pointer;
  text-align: center;
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
  text-decoration: none;
  list-style: none;
}

.button.signup {
  background: var(--mountbattenPink);
  color: var(--platinum);
  margin-right: 3em;
}

.button.cancel {
  background: var(--platinum);
  color: var(--mountbattenPink);
  border: 3px solid var(--mountbattenPink);
  margin-left: 1.5em;
  font-weight: bold;
}
