:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  --skobeloff: #096b72;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

#root {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: flex-start;
  align-self: flex-start;
  overflow: auto;
  background-color: var(--platinum);
}

@media only screen and (min-width: 481px) {
  #root {
    flex-flow: row nowrap;
    background-color: var(--platinum);
  }
}
