.about-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 1em;
  background-color: rgb(200, 159, 239);
  height: calc(100vh - 2em);
}
.header {
  margin: 2em 0 0;
}
.header h1 {
  font-size: calc(2em + 0.5vw);
}
.about-content {
  margin: 0 4em;
}
.about-content p {
  font-size: calc(1em + 0.5vw);
}
