.desktop-nav {
  max-width: calc(180px + 4em);
}

.navbar {
  /* min-width: 10vw;
  max-width: calc(180px - 4em); */
  height: 10vh;
  /* background-color: rgba(0, 128, 128, 0.6); */
}

.navbar ul {
  padding: 2em 0 0;
  margin: 0;
}

.nav-link {
  border-bottom: 5px solid transparent;
  text-align: left;
  list-style: none;
  padding: 0;
  padding-bottom: 0;
}

.nav-link a {
  color: white;
  padding-left: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

.active {
  border-bottom: 5px solid rgb(92, 10, 169);
}
