:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  --skobeloff: #096b72;
  /* Secondary color 30% */
  --middleBluePurple: #827db5;
  --mediumTurquoise: #6bc9cc;
  --verdigris: #3eb2b6;
  /* Pop/CTA colors 10% */

  /* Border */
}

.homeContent {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.photoContainer {
  background-color: var(--middleBluePurple);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(352px - 2em);
  margin: 0.5em 0;
  padding: 0.25em 0;
  flex-basis: 100%;
}
.imgDiv {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  flex-basis: 100%;
}
.photoPostImg {
  width: 100%;
}

.writtenPostContainer {
  background-color: var(--verdigris);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: 0.5em 0;
  padding: 0.25em 0;
  flex-grow: 1;
  flex-basis: 100%;
}
.articleContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 1em;
}
.heading {
  margin: 0 0 0.5em;
  font-size: calc(25px + 0.5vw);
}
.articleContent {
  margin: 0;
  height: 90%;
  width: 90%;
  overflow: hidden;
}
.content {
  margin: 0 0 0.5em;
  font-size: calc(17px + 0.5vw);
  line-height: 1.5;
}
.articleContainer .postInfo {
  flex-flow: row-reverse nowrap;
  width: 100%;
  height: 10%;
}
.articleContainer .posterInfo {
  padding: 0;
  align-self: flex-end;
}
.articleContainer .likesCommentsContainer {
  justify-content: flex-end;
  width: 30%;
}
.articleContainer .likesCommentsImg {
  max-width: 20px;
}
.articleContainer .likesCommentsP {
  align-self: center;
}

.postInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.posterInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  min-height: 1em;
  max-height: 1.5em;
  margin: 0;
  padding: 0.25em 0 0;
}

.posterUsername,
.posterDesc,
.datePosted {
  margin: 0 0.5em;
  align-self: flex-end;
  font-size: calc(13.5px + 0.5vw);
}

.likesCommentsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 0;
  width: 30%;
  height: 20px;
  flex-basis: 100%;
}

.likesCommentsImg {
  /* max-width: 30px; */
  /* min-width: 20px; */
  /* max-height: 30px; */
  /* min-height: 20px; */
  max-height: 20px;
  max-width: 20px;
  flex-grow: 1;
  margin: 0.25em 0.5em 0;
}
.likesCommentsP {
  margin: 0.25em 0 0;
  padding-right: 0.5em;
  line-height: 1;
  font-size: calc(16px + 0.2vw);
}

@media only screen and (min-width: 481px) {
  .homeContent {
    flex-flow: row wrap;
  }

  .photoContainer {
    height: calc(352px - 2em);
    min-width: 360px;
    margin: 0.5em;
    padding: 0.5em;
    flex-grow: 1;
  }
  .imgDiv {
    align-items: center;
  }

  .writtenPostContainer {
    width: calc(30vw - 190px);
    min-width: 360px;
    height: calc(352px - 2em);
    margin: 0.5em;
    padding: 0.5em;
    flex-grow: 1;
    flex-basis: 100%;
  }
  .articleContainer {
    max-height: 100%;
  }
  .heading {
    margin: 0 0 0.5em;
    font-size: calc(17px + 1vw);
    padding: 0;
  }
  .articleContent {
    margin: 0;
    height: 90%;
    overflow: hidden;
  }
  .content {
    margin: 0 0 0.5em;
    font-size: calc(13px + 0.5vw);
  }
  .articleContainer .postInfo {
    flex-flow: row-reverse nowrap;
  }
  .articleContainer .posterInfo {
    padding: 0;
  }
  .articleContainer .likesCommentsContainer {
    align-items: flex-end;
  }
  .articleContainer .likesCommentsP {
    align-self: inherit;
  }

  .posterUsername,
  .posterDesc,
  .datePosted {
    font-size: calc(12px + 0.2vw);
  }
}

@media only screen and (min-width: 900px) {
  .photoContainer {
    min-width: 20%;
    max-width: 50%;
    height: calc(332px - 2em);
    flex-basis: 30%;
  }

  .writtenPostContainer {
    min-width: 20%;
    max-width: 50%;
    height: calc(332px - 2em);
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 1250px) {
}

@media only screen and (min-width: 1550px) {
  .photoContainer {
    width: calc(30vw - 190px);
    height: calc(337px - 2em);
    flex-basis: 20%;
  }

  .writtenPostContainer {
    width: calc(30vw - 190px);
    height: calc(337px - 2em);
    flex-basis: 20%;
  }
}
