:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;

  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footerLink {
  border-bottom: 5px solid transparent;
  text-align: left;
  list-style: none;
  padding: 0;
  padding-bottom: 0;
}

.footerLink a {
  color: var(--platinum);
  padding-left: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

.active {
  border-bottom: 5px solid rgb(92, 10, 169);
}
