:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  --skobeloff: #096b72;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

.desktopNav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--skobeloff);
  /* position: sticky; */
  /* top: 0; */
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2em;
  font-weight: 800;
  color: var(--richBlack);
  order: 1;
  /* align-self: center; */
  /* overflow-wrap: break-word; */
  width: 100%;
  height: calc(240px - 3em);
  margin: 0;
  /* padding: 1.5em 0.6em; */
  text-decoration: none;
}

@media only screen and (min-width: 481px) {
  .desktopNav {
    width: calc(180px + 4em);
    display: flex;
    flex-flow: column wrap;
    background-color: var(--skobeloff);
    position: sticky;
    top: 0;
    align-self: flex-start;
  }

  .heading {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--richBlack);
    order: 2;
    /* overflow-wrap: break-word; */
    width: 100%;
    height: calc(240px - 3em);
    margin: 0;
    padding: 1.5em 0.6em;
  }
}
