:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  --skobeloff: #096b72;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

.desktopNav {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--skobeloff);
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.5em;
  font-weight: 800;
  color: var(--richBlack);
  order: 1;
  padding: 0.5em 0 0;
  margin: 0;
  text-decoration: none;
}

@media only screen and (min-width: 481px) {
  .desktopNav {
    width: calc(180px + 4em);
    position: sticky;
    top: 0;
    align-self: flex-start;
    order: 1;
  }

  .heading {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--richBlack);
    order: 2;
    overflow-wrap: break-word;
    width: 100%;
    height: calc(240px - 3em);
    margin: 0;
    padding: 1.5em 0.6em;
  }
}
