:root {
  /* Primary colors 60% */
  --richBlack: #0c0d12;
  --platinum: #ebebeb;
  --mountbattenPink: #987f95;
  /* Secondary color 30% */

  /* Pop/CTA colors 10% */

  /* Border */
}

.contentContainer {
  width: calc(100% - 244px);
  height: 100vh;
  background-color: var(--platinum);
  margin: 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  order: 2;
}
